<div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
            <!-- main header -->
            <div class="bg-light lter b-b wrapper-md">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <h1 class="m-n font-thin h3 text-black"></h1>
                    </div>
                </div>
            </div>
            <div class="wrapper-md">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div>
                                <div class="panel-heading">
                                    <div class="panel-body">
                                        <table class="table table-striped b-light table-bordered table-hover table-text-center">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Image</th>
                                                    <th>Shop Name</th>
                                                    <th>Phone</th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>System</th>
                                                    <th style="width:120px">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%if(found)%>
                                                    <%(found).forEach(function(shop){%>
                                                        <tr>
                                                            <td>
                                                                <%=shop.id%>
                                                            </td>
                                                            <td align="center">
                                                                <img src="/uploads/imgShops/<%=shop.id%>-shop-avatar.png" width="100" height="100">
                                                            </td>
                                                            <td>
                                                                <%=shop.name%>
                                                            </td>
                                                            <td>
                                                                <%=shop.phone%>
                                                            </td>
                                                            <td>
                                                                <%=moment(shop.dayFrom).format("MMM Do YY")%>
                                                            </td>
                                                            <td>
                                                                <%=moment(shop.dayTo).format("MMM Do YY")%>
                                                            </td>
                                                            <td>
                                                                <%=shop.systems||"Separate shop"%>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-xs btn-danger">Xóa</button>
                                                                <button (click)="selectShop(st)" class="btn btn-xs btn-info" data-toggle="modal" data-target="#staffModal">See </button>
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- / main -->
    </div>
    <!-- Modal -->
    <div id="staffModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content  -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{shopProfile['shop_name']}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 col-md-2 staff-avatar-wapper">
                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">Image</div>
                                <div class="panel-body">
                                    <div class="staff-avatar" style="display: block; text-align: center;">
                                        <img *ngIf="shop_avatar ==null" src="http://simpleicon.com/wp-content/uploads/shop-3.png" style="width: 100%" />
                                        <img *ngIf="shop_avatar !=null" [src]="folder_avatar + shop_avatar" style="width: 100%" />
                                        <label class="btn btn-default btn-file" style="margin-top: 17px">
                                            Choose Image
                                            <input id="shop-avatar" (change)="uploadImg($event)" type="file" style="display: none;" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12 col-md-10">
                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">Thêm</div>
                                <div class="panel-body">
                                    <form role="form" #formProfileShop="ngForm">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Shop name</label>
                                                <input id="shop-name" type="text" [(ngModel)]="shop_name" name="shop_name" class="form-control" placeholder="Nhập Shop name">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Address email</label>
                                                <input id="shop-email" type="text" [(ngModel)]="shop_email" name="shop_email" class="form-control" placeholder="Nhập email">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input id="shop-phone" type="text" [(ngModel)]="shop_phone" name="shop_phone" class="form-control" placeholder="Nhập Phone">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>From</label>
                                                <input id="shop-dayFrom" type="text" class="form-control" placeholder="Nhập From">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>To hạn</label>
                                                <input id="shop-dayTo" type="text" class="form-control" placeholder="Nhập To hạn">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input id="shop-address" type="text" [(ngModel)]="shop_address" name="shop_address" class="form-control" placeholder="Nhập Address">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>System</label>
                                                <select id="shop-system" [(ngModel)]="shop_system" name="shop_system" class="form-control">
                                                    <option value="undefined">Chọn System</option>
                                                    <option *ngFor="let sys of listSystem" [ngValue]="sys['system_id']">{{sys['system_name']}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- <button type="button" (click)="addRoom()" class="btn btn-sm btn-primary">Thêm</button> -->
                                    </form>
                                </div>
                                <div class="panel-footer">
                                    <button (click)="updateShop()" class="btn btn-primary btn-block">Cập nhật cửa hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>